* {
    font-family: "Poetsen One", sans-serif;
}
#globitos{
    height: 300px;
    width: 400px;
    border: 5px solid black;
}
#globitos{
    background-color: #DBA979;
}
#magen_de_mi_primer_proyecto {
    border: 5px solid black;
}
#imagen_de_mi_segundo_proyecto {
    border: 5px solid black;
}